:root {
    --background-color: #fff;
    --navigation-color: #7D7D7D;
    --title-color: #626262;
    --span-color: #b4ad9f;
    --hover-color: #03A9F4;
}


body {
    width: 1200px;
    padding: 71px 147px;
    margin: 0px auto;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
}

nav {
    word-spacing: 99px;
    text-align: center;
}

.nav-link:hover {
    color: var(--hover-color);
}

.btn1 {
    border: 1px solid var(--title-color);
    background-color: var(--background-color);
    cursor: pointer;
    margin: 0 auto;
    padding: 20px 48px;
}

.btn1:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}

.card {
    width: 420px;
}

.wrap {
    margin-bottom: 62px;
}

span {
    color: var(--span-color);
    font-weight: 300;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.title {
    margin-top: 32px;
    font-size: 30px;
}

.text {
    font-weight: 400;
    font-size: 14px;
}



a {
    text-decoration: none;
}

.main-wrap {
    margin-top: 92px;
    margin-bottom: 94px;
}